<!-- Sidebar -->
<div class="nav">
  <div class="logo">
    <a href="/"><h1>DevOps Bookmarks</h1></a>
  </div>

  <!-- Topics menu -->
  <div class="topics menu">
    <h3>Topics</h3>
    <% _u.each(topics, function(tag) { %>
      <div class="tag">
        <% var active = _u.contains(tags, tag.slug); %>
        <a class="toggle" href="<%= extraUrlFor(tag.slug, tags) %>">
          <i class="fa fa-fw <%= active ? 'fa-check-circle' : 'fa-circle-o' %>"></i>
        </a>
        <a class="<%= active ? 'active' : '' %>" href="<%= onlyUrlFor(tag.slug, topics, tags) %>">
          <%= tag.name %>
        </a>
      </div>
    <% }); %>
  </div>

  <!-- Platforms menu -->
  <div class="platforms menu">
    <h3>Platform</h3>
    <% _u.each(platforms, function(tag) { %>
      <div class="tag">
        <% var active = _u.contains(tags, tag.slug); %>
        <a class="toggle" href="<%= extraUrlFor(tag.slug, tags) %>">
          <i class="fa fa-fw <%= active ? 'fa-check-circle' : 'fa-circle-o' %>"></i>
        </a>
        <a class="<%= active ? 'active' : '' %>" href="<%= onlyUrlFor(tag.slug, platforms, tags) %>">
          <i class="<%= tag.icon %>"></i>
          <%= tag.name %>
        </a>
      </div>
    <% }); %>
  </div>

  <!-- Licenses menu -->
  <div class="licenses menu">
    <h3>License</h3>
    <% _u.each(licenses, function(tag) { %>
      <div class="tag">
        <% var active = _u.contains(tags, tag.slug); %>
        <a class="toggle" href="<%= extraUrlFor(tag.slug, tags) %>">
          <i class="fa fa-fw <%= active ? 'fa-check-circle' : 'fa-circle-o' %>"></i>
        </a>
        <a class="<%= active ? 'active' : '' %>" href="<%= onlyUrlFor(tag.slug, licenses, tags) %>">
          <i class="<%= tag.icon %>"></i>
          <%= tag.name %>
        </a>
      </div>
    <% }); %>
  </div>

  <!-- Languages menu -->
  <div class="languages menu">
    <h3>Language</h3>
    <% _u.each(languages, function(tag) { %>
      <div class="tag">
        <% var active = _u.contains(tags, tag.slug); %>
        <a class="toggle" href="<%= extraUrlFor(tag.slug, tags) %>">
          <i class="fa fa-fw <%= active ? 'fa-check-circle' : 'fa-circle-o' %>"></i>
        </a>
        <a class="<%= active ? 'active' : '' %>" href="<%= onlyUrlFor(tag.slug, languages, tags) %>">
          <i class="<%= tag.icon %>"></i>
          <%= tag.name %>
        </a>
      </div>
    <% }); %>
  </div>

  <div class="meta menu">
    <h3>Meta</h3>
    <a href="https://github.com/devopsbookmarks/devopsbookmarks.com/blob/master/CONTRIBUTING.md">Submit a tool</a>
    <a href="https://github.com/devopsbookmarks/devopsbookmarks.com/blob/master/README.md">About</a>
  </div>
</div>
