<div class="tool-container">
  <div class="tool">
    <h2>
      <a href="<%= tool.url %>" rel="nofollow"><%= tool.name %></a>
    </h2>
    <p>
      <%= tool.description %>
    </p>
    <p class="tags">
      <% _u.each(platforms, function(tag) { %>
        <i class="<%= tag.icon %> <%= _u.contains(tool.tags, tag.slug) ? '' : 'disabled' %>" title="<%= tag.name %>"></i>
      <% }); %>
      &nbsp;&nbsp;
      <% _u.each(licenses, function(tag) { %>
        <i class="<%= tag.icon %> <%= _u.contains(tool.tags, tag.slug) ? '' : 'disabled' %>" title="<%= tag.name %>"></i>
      <% }); %>
      &nbsp;&nbsp;
      <% _u.each(languages, function(tag) { %>
        <i class="<%= tag.icon %> <%= _u.contains(tool.tags, tag.slug) ? '' : 'disabled' %>" title="<%= tag.name %>"></i>
      <% }); %>
    </p>
    <p class="topics">
      <% _u.each(tool.tags, function(tag) { %>
        <small><%= tag %></small>
      <% }); %>
    </p>
  </div>
</div>
