extends layout

block content
  - var onlyUrlFor = function(tag, outOf) {
  -   return _u.union(_u.difference(tags, _u.pluck(outOf, 'slug')), tag).sort().join('+')
  - }

  - var extraUrlFor = function(tag) {
  -   var newTags = _u.contains(tags, tag) ? _u.without(tags, tag) : _u.union(tags, tag)
  -   return "/" + newTags.sort().join('+')
  - }

  .nav
    .logo
      a(href="/") DevOps Bookmarks

    .platforms
      h3 Platform
      each tag in platforms
        .tag
          - active = _u.contains(tags, tag.slug)
          a.toggle(href=extraUrlFor(tag.slug))
            span.icon(class=(active ? "fa fa-minus" : "fa fa-plus"))
          a(class=(active ? 'active' : ''), href=onlyUrlFor(tag.slug, platforms))
            span.icon(class=tag.icon)
            = tag.name

    .licenses
      h3 License
      each tag in licenses
        .tag
          - active = _u.contains(tags, tag.slug)
          a.toggle(href=extraUrlFor(tag.slug))
            span.icon(class=(active ? "fa fa-minus" : "fa fa-plus"))
          a(class=(active ? 'active' : ''), href=onlyUrlFor(tag.slug, licenses))
            span.icon(class=tag.icon)
            = tag.name

    .categories
      h3 Category
      each tag in categories
        .tag
          - active = _u.contains(tags, tag.slug)
          a.toggle(href=extraUrlFor(tag.slug))
            span.icon(class=(active ? "fa fa-minus" : "fa fa-plus"))
          a(class=(active ? 'active' : ''), href=onlyUrlFor(tag.slug, categories))
            if tag.icon
              span.icon(class=tag.icon)
            = tag.name

    .meta
      h3 Meta
      a Submit a tool
      a About

  .content
    .content-grid
      #tools
        each tool in tools
          .tool-container
            .tool
              h2
                a(href=tool.url, rel="nofollow")= tool.name
              p= tool.description
              p.tags
                each tag in platforms
                  span.icon(class=tag.icon)(class=(_u.contains(tool.tags, tag.slug) ? '' : 'disabled'))(title=tag.name)
                each tag in licenses
                  span.icon(class=tag.icon)(class=(_u.contains(tool.tags, tag.slug) ? '' : 'disabled'))(title=tag.name)
              p.categories
                each category in tool.tags
                  if categories[category]
                    small= categories[category].name
